<div id="dashboard-page">
  <div class="header">
    <h1>MY APP</h1>
    <button mat-raised-button color="primary" (click)="logout()">
      LOG OUT
    </button>
  </div>
  <!-- <div class="content"> -->
  
    <table class="table mt-3" border="1">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Rating</th>
      </tr>

      <tbody>
        <tr *ngFor="let user of userData">
          <td>{{user.name}}</td>
          <td>{{user.description}</td>
          <td>{{user.category}}</td>
          <td>{{user.rating}}</td>
          <td>
            <button class="btn btn-info">Edit</button>
            <button class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
  </table>
  
  <!-- </div> -->
</div>

